# Python
__pycache__/
*.py[cod]
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Dataset local comprimido y credenciales de Kaggle
application_train.csv.zip
kaggle.json

# Editores e IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.*
